.uk-icon.logo {
  width: 9vh;
  margin-top: 15px;
}

.uk-cover {
  min-width: 500px;
  min-height: 500px;
}

#homepage-title {
  text-align: center;
}

.activity-image {
  max-width: 350px;
  max-height: 290px;
  display: flex;
  margin: 0 auto;
}

.uk-card-title,
.card-description {
  text-align: center;
}

@media (max-width: 960px) {
  .logo {
    width: 8vh;
    margin: 0 auto;
    padding: 5px;
  }
}
